{
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off",
    "global-require": "warn"
  },
  "extends": [
    "@spencerlepine/eslint-config-react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "requireConfigFile": false
}